<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=172.31.27.187;Initial Catalog=CompassFramework;User ID=sa;Password=northwoods" />
    <!--<add key="ConnectionString" value="Data Source=grantfish-lt;Initial Catalog=CompassFrameworkdev;User ID=sa;Password=northwoods" />-->
    <add key="RestAddr" value="http://internal-pilotlb-302713503.us-east-1.elb.amazonaws.com/CompassFrameworkServices/CompassDocumentsREST/CompassDocumentsREST.svc"/>
    <!--<add key="RestAddr" value="http://localhost/vm-dev-co01/CompassDocumentsREST/CompassDocumentsREST.svc"/>-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>