<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DmsServiceURL" value="http://172.31.19.24/AppServer64/service.asmx"/>
    <add key="DmsServiceDataSource" value="OBSERVER"/>
    <add key="LastDigits" value ="1,3,5,7,9"/>
    <add key="DmsUserName" value="loadtest0001"/>
    <add key="DmsPassword" value="password"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>